<section id="bio-full">
      <div class="w3-row">
        <div class="bio-img">
          <img src="images/bio-1.jpg" alt="crowd at concert photo from pexels.com"/>
        </div>
        <div class="bio-text">
          <h1 class="head-font">-&nbsp;&nbsp;ABOUT THE BAND&nbsp;&nbsp;-</h1>
          <p><strong style="color:#efc128;">THE BAND TEMPLATE</strong> Nullam pellentesque tortor libero, ut varius mauris volutpat ut. Fusce porta at lectus a vestibulum. Morbi aliquet mattis felis, a commodo quam semper vitae. Vestibulum mollis id magna in commodo. Donec a dapibus tellus. Suspendisse porttitor orci vel tellus ornare faucibus. Praesent vestibulum mi a purus pulvinar maximus eget ut enim. Pellentesque dapibus rutrum massa rhoncus auctor. Proin tincidunt vel eros non suscipit. Nunc a est orci. Curabitur nulla justo, rutrum at fermentum vel, pellentesque a nisl. Phasellus blandit ex magna, ut vehicula est pretium at. Fusce commodo porta sagittis. Nunc ut orci ac nisi suscipit pretium pretium nec sem. Donec a augue semper, posuere orci nec, hendrerit arcu.</p>
        </div>
      </div>
      <div class="w3-row">
        <div class="bio-img">
          <img src="images/bio-2.jpg" alt="man and woman enjoying music from pexels.com"/>
        </div>
        <div class="bio-text">
          <p>Etiam non purus blandit, iaculis nulla eu, tincidunt orci. Aliquam nec est justo. Aliquam vulputate libero porttitor mi malesuada, in mollis metus gravida. Praesent in metus at mauris ullamcorper imperdiet id id leo. Pellentesque non faucibus enim. <br />Phasellus malesuada aliquam condimentum. Morbi laoreet sapien metus, vel pretium purus dignissim et. Nullam vel enim nec lorem imperdiet sollicitudin. Ut eget malesuada justo. Pellentesque dignissim magna leo, eget condimentum nunc suscipit et. Fusce consectetur velit ut gravida congue. Nam sem nisi, convallis non quam sit amet, sollicitudin convallis nulla.</p>
        </div>
      </div>
      <div class="w3-row">
        <div class="bio-img">
          <img src="images/bio-3.jpg" alt="woman sitting by music collection photo from pexels.com"/>
        </div>
        <div class="bio-text">
          <p><b>BAND</b> members Proin vel tincidunt velit. Ut nec risus enim. Aliquam ullamcorper vel ipsum sit amet auctor. Curabitur quis iaculis nunc, ut ullamcorper lorem. Nullam a malesuada nulla, nec malesuada neque. Aliquam nec dui dignissim, dapibus felis id, dapibus risus. Aliquam erat volutpat. <b>Pellentesque</b> sit amet diam sed felis commodo convallis non eu risus. Suspendisse dignissim suscipit mauris, laoreet sagittis velit congue nec. Etiam posuere vitae quam at lacinia. Maecenas luctus arcu id sapien ullamcorper gravida. Sed sit amet velit eleifend, dignissim dui eu, dapibus dui. Morbi vitae ex maximus, commodo ex ac, vestibulum velit. <b>Pellentesque</b> proin at sem vitae libero lacinia tincidunt ut ac ipsum.
      </div>
      <div class="w3-row">
        <div class="bio-img">
          <img src="images/bio-4.jpg" alt="women taking selfie at concert photo from pexels.com"/>
        </div>
        <div class="bio-text">
          <p>Praesent sodales malesuada mauris a pellentesque. Vivamus mi urna, ultrices cursus aliquam in, tincidunt non ex. Vivamus libero lacus, porttitor maximus turpis in, euismod vestibulum enim. <b>Vivamus</b> fermentum luctus felis vitae varius. Aenean quis dolor sit amet ipsum luctus facilisis non maximus augue. Proin eu ante in odio luctus lacinia. Nullam consectetur tortor id leo lobortis, ac suscipit ex convallis. Nulla sit amet ligula eu justo rutrum luctus. </p>
        </div>
      </div>
    </section>