<div class="w3-container w3-center" style="margin-top: 100px;">
        <p style="font-family: 'Anton', sans-serif; font-size: 50px;">-&nbsp;IMAGE GALLERY&nbsp;-</p>
      </div>
      <section id="event-images">
        <div class="w3-row">
          <div class="event-left-image">
            <img src="images/gallery/gallery-1.jpg" alt="Boku Revolution X event updates" />
            <caption><p>Courtesy of Pexels</p></caption>
          </div>
          <div class="event-right-image">
            <img src="images/gallery/gallery-2.jpg" alt="Boku revolution April 11 event details" />
            <caption><p>Courtesy of Pexels</p></caption>
          </div>
        </div>
        <div class="w3-row">
          <div class="event-left-image">
            <img src="images/gallery/gallery-3.jpg" alt="Music Band Concert Photo by Wendy Wei" />
            <caption><p>Photo by Wendy Wei</p></caption>
          </div>
          <div class="event-right-image">
            <img src="images/gallery/gallery-4.jpg" alt="Music Band Concert Photo by Wendy Wei" />
            <caption><p>Photo by Wendy Wei</p></caption>
          </div>
        </div>
        <div class="w3-row">
          <div class="event-left-image">
            <img src="images/gallery/gallery-5.jpg" alt="Music Band Concert Photo by Wendy Wei" />
            <caption><p>Photo by Wendy Wei</p></caption>
          </div>
          <div class="event-right-image">
            <img src="images/gallery/gallery-6.jpg" alt="Boku Revolution X event updates" />
            <caption><p>Courtesy of Pexels</p></caption>
          </div>
        </div>
      </section>