<footer class="w3-container">
        <div id="mailing-list-form">
          <h2 class="head-font">JOIN OUR MAILING LIST</h2>
          <!-- Begin Mailchimp Signup Form -->
          <form action="#" class="w3-container validate" novalidate>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div><br/>
            <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
          </label>
            <input type="text" value="" name="FNAME" class="required w3-input w3-border w3-light-grey" id="mce-FNAME"><br/>

            <label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
          </label>
            <input type="text" value="" name="LNAME" class="required w3-input w3-border w3-light-gre" id="mce-LNAME"><br/>

            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
          </label>
            <input type="email" value="" name="EMAIL" class="required email w3-input w3-border w3-light-grey" id="mce-EMAIL"><br/>
            <div id="mce-responses" class="clear">
          		<div class="response" id="mce-error-response" style="display:none"></div>
          		<div class="response" id="mce-success-response" style="display:none"></div>
          	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5c665e5455f73c22f352badd9_79829ee40d" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button-global"></div>
          </form>
        </div>
        <div id="copyright-info">
          <p>&#169;<script type="text/javascript">document.write(new Date().getFullYear());
          </script>&nbsp;All Rights Reserved. The Band Template by Dwyan Alford <a>(www.dwyanalford.com)</a>
        </p>
      </div>
      </footer>