<!-- HERO or HEADER SECTION starts here -->   
    <section id="hero">
        <div class="w3-display-container" style="height:600px;">
            <div class="w3-display-middle">
                <h1>POWER IN THE MUSIC</h1>
                <p>A Responsive Design by Dwyan Alford</p>
            </div>
        </div>
    </section>
    <!-- BIO SECTION starts here -->
    <section id="bio-section" class="w3-row">
        <div id="bio-img-container" class="w3-container w3-center">
          <img src="images/bio-sum-image.jpg" alt="DJ Musician Engineer Photo by Gaby Tenda" width="100%" />
          <caption><p>Photo by Gaby Tenda</p></caption>
        </div>
        <div id="band-summary" class="w3-container w3-left">
          <h3 class="band-text-summary"><strong class="boku-highlight">Music Power</strong> template was designed to showcase a responsive design. Regardless of what device or screen size you may be using to view this app, it will look good.
          Node was used to create this template, with Express to create the web server and handle routing. Handlebars.js is the templating engine used to render views to the client. w3.CSS was utilized for the css and well as a customised css stylesheet.
					</h3><br/>
          <div class="w3-row w3-center">
            <div id="bio-button" class="w3-container">
              <a class="button-global" href="/about" title="Watch on youtube">ABOUT US</a>
            </div>
            <div id="epk-button" class="w3-container">
              <a class="button-global" href="pdf/BOKU RX FINAL EPK SUB.pdf" target="_blank" title="Click to download Boku RX EPK">BOOK US</a>
            </div>
          </div> <!-- ends band buttons div -->
        </div> <!-- ends band summary div -->
      </section>

      <section id="music-section" class="w3-container">
        <div id="soundcloud-div" class="w3-container w3-center">
          <h1 class="head-font">-&nbsp;&nbsp;LISTEN&nbsp;&nbsp;-</h1>
          <img src="images/audio-sum-image.jpg" id="img-home" alt="Man playing saxophone Photo by Oleg Magni"/>
          <caption><p>Photo by Oleg Magni</p></caption>
          
        </div>
        <div id="news-summary" class="w3-container w3-center">
          <h1 class="head-font">-&nbsp;&nbsp;TOUR DATES&nbsp;&nbsp;-</h1>
          <div id="event-summary" class="w3-container w3-padding-16 content-border event-list-background event-margins">
            <!-- This is the FIRST summary event -->
              <!-- <div class="w3-row">
                <div class="w3-col s3 w3-center event-summary-date">
                  <p style="margin-top: 0px; margin-bottom: 0px; font-size: 24px;">MAY<br>
                  <span class="w3-badge w3-xxxlarge boku-backlit">7</span></p>
                </div>
                <div class="w3-col s9 w3-left-align w3-padding event-summary-info">
                  <h4 class="event-font">THE RL HOTEL</h4>
                  <p id="news-text">BROOKLYN, NYC (7PM)</p>
                </div>
              </div><br> -->
              <!-- This is the SECOND summary event -->
              <div class="w3-row">
      					<div class="w3-col s3 w3-center event-summary-date">
      						<p style="margin-top: 0px; margin-bottom: 0px; font-size: 24px;">JUNE<br>
      						<span class="w3-badge w3-xxxlarge boku-backlit">24</span></p>
      					</div>
      					<div class="w3-col s9 w3-left-align w3-padding event-summary-info">
      						<h4 class="event-font">UNIVISION STADIUM</h4>
      						<p id="news-text">Atlanta, Georgia, USA</p>
      					</div>
    				  </div><br>
              <!-- This is the THIRD summary event -->
              <div class="w3-row"> <!-- In this row will be 2 columns -->
      					<div class="w3-col s3 w3-center event-summary-date">
      						<p style="margin-top: 0px; margin-bottom: 0px; font-size: 24px;">JULY<br>
      						<span class="w3-badge w3-xxxlarge boku-backlit">15</span></p>
      					</div>
      					<div class="w3-col s9 w3-left-align w3-padding event-summary-info">
      						<h4 class="event-font">ROCKVILLE CLUB</h4>
      						<p id="news-text">Sydney, Australia</p>
      					</div>
    				  </div><br>
              <!-- This is the FOURTH summary event -->
              <div class="w3-row"> <!-- In this row will be 2 columns -->
      					<div class="w3-col s3 w3-center event-summary-date">
      						<p style="margin-top: 0px; margin-bottom: 0px; font-size: 24px;">AUGUST<br>
      						<span class="w3-badge w3-xxxlarge boku-backlit">3</span></p>
      					</div>
      					<div class="w3-col s9 w3-left-align w3-padding event-summary-info">
      						<h4 class="event-font">LIVE AT WEMBLEY STADIUM</h4>
      						<p id="news-text">London, UK</p>
      					</div>
    				  </div><br>

    			</div>
          <a class="button-global" href="events.html" style="margin-right: 25px;" title="More Information">MORE INFO</a>
          <a class="button-global" href="mailto:dwyan.alford@gmail.com?subject=Test">RSVP</a>
        </div>
      </section>

      <section id="video-section" class="w3-container w3-center">
        <h1 class="head-font">-&nbsp;&nbsp;WATCH&nbsp;&nbsp;-</h1>
          <iframe id="featured-video" src="https://www.youtube.com/embed/T09lIkKZdsM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a class="button-global" href="https://www.youtube.com/embed/T09lIkKZdsM" target="_blank" title="Watch on youtube">MORE VIDEOS</a>
      </section>

      