 <!-- Main Navigation -->
    <div id="top-bar" class="w3-display-container w3-top w3-black">
  		<a href="/"><div id="main-logo" class="w3-display-topleft">
  			<i class="fas fa-drum fa-3x"><span>MusicPower</span></i>
  		</div></a>
  		<nav class="w3-display-topmiddle">
  			<div class="w3-bar">
  			  <div class="w3-dropdown-hover">
  			    <button class="w3-button w3-padding-16 w3-hover-amber w3-black"><i class="fa fa-bars w3-xlarge" title="menu"></i></button>
  			    <div class="w3-dropdown-content w3-bar-block w3-card-4">
  						<a href="/" class="w3-bar-item w3-button drop-class"><i class="fas fa-home w3-large" style="opacity: 0.5" aria-hidden="true"></i>&nbsp;&nbsp;HOME</a>
              <a href="#" class="w3-bar-item w3-button drop-class"><i class="fas fa-shopping-cart w3-large" style="opacity: 0.5" aria-hidden="true"></i>&nbsp;&nbsp;SHOP</a>
              <a href="/about" class="w3-bar-item w3-button drop-class"><i class="far fa-address-card w3-large" style="opacity: 0.5" aria-hidden="true"></i>&nbsp;&nbsp;BIO</a>
              <a href="/events" class="w3-bar-item w3-button drop-class"><i class="far fa-calendar-check w3-large" style="opacity: 0.5" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;GALLERY</a>
  			    </div>
  			  </div>
  			</div>
  		</nav>
  		<div class="w3-display-topright w3-padding-32" style="padding-right: 30px;">
  			<a href="#" target="_blank"><i class="fab fa-instagram w3-xlarge" aria-hidden="true" title="instagram"></i></a>
  			<a href="#" target="_blank"><i class="fab fa-youtube-square w3-xlarge" style="padding-left: 20px;"  aria-hidden="true" title="youtube"></i></a>
  			<a href="#" target="_blank"><i class="fab fa-soundcloud w3-xlarge" style="padding-left: 20px;" aria-hidden="true" title="soundcloud"></i></a>
  			<a href="#" target="_blank"><i class="fab fa-facebook w3-xlarge" style="padding-left: 20px;" aria-hidden="true" title="facebook"></i></a>
  			<a href="#" target="_blank"><i class="fab fa-twitter w3-xlarge" style="padding-left: 20px;" aria-hidden="true" title="twitter"></i></a>
  		</div>
  	</div>