<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>404</title>
        {{>global}}
    </head>
    <body>
        {{>navigation}}
        <div class="w3-container w3-center" style="margin: 100px 0; ">
            <p style="font-family: 'Anton', sans-serif; font-size: 50px;">-&nbsp;404 page&nbsp;-</p>
            <h2>Sorry Nothing here!</h2>
        </div>
        
        {{>footer}}
    </body>
</html>
