<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>About</title>
        {{>global}}
        <link rel="stylesheet" href="/css/about.css">
    </head>
    <body>
        {{>navigation}}
        {{>bio}}
        {{>footer}}
    </body>
</html>
  