<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Image Gallery</title>
        {{>global}}
        <link rel="stylesheet" href="/css/events.css">
    </head>
    <body>
        {{>navigation}}
        {{>events}}
        {{>footer}}
    </body>
</html>